body {
  line-height: 1.4rem;
  background: white;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.containerHome {
  margin: 0vh auto 2vh auto;
  width: 90%;
  padding: 0px 30px 10px 30px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
